@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
.gradient-circle {
    position: absolute;
    pointer-events: none;
    z-index: 100;
    top: -30px;
    height: 40px;
    width: 100vw;
    opacity: 0.5;
    filter: blur(40px);
    background: radial-gradient(
      circle,
      rgba(248, 107, 223, 1) 0%,
      rgba(107, 107, 248, 0.8) 100%
    );
  }

  .gradient-circle-bottom {
    position: absolute;
    pointer-events: none;
    z-index: 100;
    bottom: -20px;
    height: 30px;
    width: 100vw;
    opacity: 0.5;
    filter: blur(40px);
    background: radial-gradient(
      circle,
      rgba(248, 107, 223, 1) 0%,
      rgba(107, 107, 248, 0.8) 100%
    );
  }